@page "/bookings/details"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Booking</h2>
    <hr />
    @if (booking is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@booking.UserId</dd>
            <dt class="col-sm-2">VenueId</dt>
            <dd class="col-sm-10">@booking.VenueId</dd>
            <dt class="col-sm-2">BookingDate</dt>
            <dd class="col-sm-10">@booking.BookingDate</dd>
            <dt class="col-sm-2">StartTime</dt>
            <dd class="col-sm-10">@booking.StartTime</dd>
            <dt class="col-sm-2">EndTime</dt>
            <dd class="col-sm-10">@booking.EndTime</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@booking.Status</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@booking.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@booking.DateUpdated</dd>
            <dt class="col-sm-2">Createdby</dt>
            <dd class="col-sm-10">@booking.Createdby</dd>
            <dt class="col-sm-2">Updatedby</dt>
            <dd class="col-sm-10">@booking.Updatedby</dd>
        </dl>
        <div>
            <a href="@($"/bookings/edit?id={booking.Id}")">Edit</a> |
            <a href="@($"/bookings")">Back to List</a>
        </div>
    }
</div>

@code {
    private Booking? booking;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        booking = await context.Booking.FirstOrDefaultAsync(m => m.Id == Id);

        if (booking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
